/**
 *	Soundboard styles
 */

html {
	height: 100%;
}

body {
	background: linear-gradient(to left bottom, #EB3349 , #F45C43);
	height: 100%;
	margin: 0;
	--base: #ffffff;
}

.keys {
	list-style-type: none;
	padding-left: 0;
	margin: 3rem auto 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.keys li {
	justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    box-shadow: 0 0px 1px 0px #fff;

	padding: 3rem;
	width: 3rem;
	height: 3rem;
	border-radius: 5%;
	background-color: #000;
	/*border: 1px solid #D6A4A4;*/
	text-align: center;
	color: var(--base);
	margin: 0 1rem;
	transition: all .07s;
	font-size: 3rem;
}

.keys li:hover {
	cursor: pointer;
}

.keys li.playing {
	transform: scale(1.1);
	border-color: #535B63;
	background-color: #94A2AF;
}